$start: $scene_05_begin;




#githubWebsite {
    -skrollr-animation-name: a_githubWebsite;
}

@-skrollr-keyframes a_githubWebsite {

    #{$start + 1350} {
        opacity: 0;
        display:none;
    }
    #{$start + 1370} {
        opacity: 1;
        display:inline;
    }
    #{$start + 1590} {
        opacity: 1;
        display:inline;
    }
    #{$start + 1610} {
        opacity: 0;
        display:none;
    }
}


#scene5 {


    #wire5 {
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-dasharray: 6000;
        stroke-dashoffset: 0;
        -skrollr-animation-name: wire5;
    }

    @-skrollr-keyframes wire5 {
        #{$start - 385} {
            stroke-dashoffset: 6000;
        }
        #{$start + 1000} {
            stroke-dashoffset: 0;
        }
    }


    #bg {
        -skrollr-animation-name: bg;
    }
    @-skrollr-keyframes bg {
        #{$start} {
            opacity: 0;
        }
        #{$start + 160} {
            opacity: 0;
        }
        #{$start + 200} {
            opacity: 1;
        }
        #{$start + 350} {
            opacity: 1;
        }
        #{$start + 390} {
            opacity: 0;
        }
    }

    //#scene {
    //    -skrollr-animation-name: scene4r;
    //
    //}
    //@-skrollr-keyframes scene4r {
    //    #{$start + 1150} {
    //        transform: rotate(0deg) translate(0px, 0px) scale(1);
    //    }
    //    #{$start + 1350} {
    //        transform: rotate(90deg) translate(-6930px, -530px) scale(8);
    //    }
    //}

    #fg {
        -skrollr-animation-name: fgg;
    }
    @-skrollr-keyframes fgg {
        #{$start} {
            opacity: 0;
        }
        #{$start + 160} {
            opacity: 0;
        }
        #{$start + 200} {
            opacity: 0.4;
        }
        #{$start + 350} {
            opacity: 0.4;
        }
        #{$start + 390} {
            opacity: 0;
        }
    }



    #title {
        -skrollr-animation-name: title;
    }
    #subTitle1 {
        -skrollr-animation-name: title1;
    }
    #subTitle2 {
        -skrollr-animation-name: title2;
    }
    @-skrollr-keyframes title {
        #{$start} {
            opacity: 0;
        }
        #{$start + 100} {
            opacity: 1;
        }
    }

    #skills {
        #fed {
            -skrollr-animation-name: fed;
        }
        #bed {
            -skrollr-animation-name: bed;
        }
    }

    $skills_interval: 80;
    $skills_start: $start + 200;

    @-skrollr-keyframes title1 {
        #{$start + 50} {
            opacity: 0;
        }
        #{$start + 150} {
            opacity: 1;
        }
        #{$skills_start + $skills_interval * 11} {
            opacity: 1;
        }
        #{$skills_start + $skills_interval * 12} {
            opacity: 0;
        }
    }

    @-skrollr-keyframes title2 {
        #{$skills_start + $skills_interval * 11} {
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 12} {
            opacity: 1;
        }
    }

    @-skrollr-keyframes fed {
        #{$skills_start} {
            transform: translateX(0px);
            opacity: 1;
        }
        #{$skills_start + $skills_interval * 10} {
            transform: translateX(0px);
            opacity: 1;
        }
        #{$skills_start + $skills_interval * 11} {
            transform: translateX(-300px);
            opacity: 0;
        }
    }

    @-skrollr-keyframes bed {
        #{$skills_start} {
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 11} {
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 12} {
            opacity: 1;
        }
    }

    #fed {
        #HTML {
            -skrollr-animation-name: HTML;
        }
        #CSS {
            -skrollr-animation-name: CSS;
        }
        #Javascript {
            -skrollr-animation-name: Javascript;
        }
        #React {
            -skrollr-animation-name: React;
        }
        #Vue {
            -skrollr-animation-name: Vue;
        }
        #React_Native {
            -skrollr-animation-name: ReactNative;
        }
        #Angular {
            -skrollr-animation-name: Angular;
        }
    }

    #bed {
        #PHP {
            -skrollr-animation-name: PHP;
        }
        #Mysql {
            -skrollr-animation-name: Mysql;
        }
        #Linux {
            -skrollr-animation-name: Linux;
        }
        #Laravel {
            -skrollr-animation-name: Laravel;
        }
    }

    @-skrollr-keyframes HTML {
        #{$skills_start + $skills_interval} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 2} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes CSS {
        #{$skills_start + $skills_interval * 2} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 3} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes Javascript {
        #{$skills_start + $skills_interval * 3} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 4} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes React {
        #{$skills_start + $skills_interval * 4} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 5} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes Vue {
        #{$skills_start + $skills_interval * 5} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 6} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes ReactNative {
        #{$skills_start + $skills_interval * 6} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 7} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes Angular {
        #{$skills_start + $skills_interval * 7} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 8} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes PHP {
        #{$skills_start + $skills_interval * 12} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 13} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes Mysql {
        #{$skills_start + $skills_interval * 13} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 14} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes Linux {
        #{$skills_start + $skills_interval * 14} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 15} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @-skrollr-keyframes Laravel {
        #{$skills_start + $skills_interval * 15} {
            transform: translateX(-200px);
            opacity: 0;
        }
        #{$skills_start + $skills_interval * 16} {
            transform: translateX(0);
            opacity: 1;
        }
    }

    //@-skrollr-keyframes bed {
    //    #{$start + 750} {
    //        transform: translateX(-200px);
    //        opacity: 0;
    //    }
    //    #{$start + 850} {
    //        transform: translateX(0);
    //        opacity: 1;
    //    }
    //}

    #mouse04 {
        -skrollr-animation-name: mouse04;
    }
    $mousestart: $start - 200;
    @-skrollr-keyframes mouse04 {
        #{$mousestart} {
            transform: rotate(1deg);
        }
        #{$mousestart + 50} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 100} {
            transform: rotate(2deg);
        }
        #{$mousestart + 150} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 200} {
            transform: rotate(0deg);
        }
        #{$mousestart + 250} {
            transform: rotate(0deg);
        }
        #{$mousestart + 300} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 350} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 500} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 550} {
            transform: rotate(1deg);
        }
        #{$mousestart + 750} {
            transform: rotate(1deg);
        }
        #{$mousestart + 800} {
            transform: rotate(2deg);
        }
        #{$mousestart + 850} {
            transform: rotate(1deg);
        }
        #{$mousestart + 950} {
            transform: rotate(0deg);
        }
        #{$mousestart + 1050} {
            transform: rotate(1deg);
        }
        #{$mousestart + 1250} {
            transform: rotate(2deg);
        }
        #{$mousestart + 1450} {
            transform: rotate(-1deg);
        }
    }
}
